@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Familjen Grotesk", serif;
  background-color: rgba(255, 255, 255, 0.01);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #666 transparent;
}
